.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

// FADE IN EFFECTS
.fade-enter {
  opacity: 0;
  position: absolute;
  min-width: 100vw;
  min-height: 94vh;
}

.fade-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 300ms;
  min-width: 100vw;
  min-height: 94vh;
}

.fade-exit {
  min-width: 100vw;
  min-height: 92vh;
  position: absolute;
  opacity: 1;
}

.fade-exit-active {
  min-width: 100vw;
  min-height: 92vh;
  position: absolute;
  opacity: 0;
  transition: opacity 300ms;
}
