.loading-page {
    position: absolute;
    background-color: var(--dark-purple);
    min-height: 100%;
    min-width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-in {
    z-index: 5;
}

.display-fade-out {
    z-index: 0;
    animation: fadeOut .5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

.loading-content {
    font-size: 25px;
}
