.navbar {
    width: 100%;
    padding-bottom: 1rem;
    z-index: 1;
    display: flex;
}

.logo-wrapper {
    text-align: left;
}

.logo {
    color: var(--primary-purple);
    margin-right: 10px;
    font-size: 30px;
}

.logo-name {
    font-size: 30px;
    color: var(--primary-purple);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: var(--primary-purple);
    /* padding: 1rem; */
}