.logo-container {
    position: relative;
    flex: 1;
}

.back-circle {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-icon {
    z-index: 1;

    position: absolute;
    top: 7px;
    left: 11px;
    color: var(--primary-purple);
}