.hacker-container {
    background-color: black;
    padding: 3rem 2rem;
    border-radius: 5px;
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 2.8rem;
    color: #20C20E !important;
}