.about-me-container {
    padding-block: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.read-more-button {
    cursor: pointer;
    font-weight: 700;

    &:hover {
        color: cadetblue;
    }
}

.read-more {
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    transition:
        min-height 0.3s ease,
        max-height 0.3s ease;
}

.show-true {
    max-height: 1000px;
}
